body {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,18,20,1) 100%);
  max-width: 1100px;
  margin: 0 auto;
}
.header {
  display: flex;
  position: relative;
  min-height: 100px;
  max-height: 756px;
  margin-top: 30px;
  justify-content: space-between;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
}

.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
  left: 5px;
  transition: transform .5s, opasity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.logo {
  display: flex;
  margin-left: 50px;
  height: 50px;
  margin-top: 15px;
}

.logo__header {
  width: 48px;
  height: 48px;
}

.logo__name {
  color: white;
  margin-left: 20px;
  font-size: 26px;
  margin: 0 0 0 20px;

}

.menu__container {
  display: flex;
}

.header__menu {
  color: white;
  width: 800px;
}
.header__list {
  display: flex;
  justify-content: space-around;
}
.menu__list {
  list-style-type: none;
  text-align: center;
}
.header__navigation {
  text-decoration: none;
  color: white;
  margin: 0;
  font-size: 26px;
}
.header__link {
  display: flex;
  margin-right: 50px;
  list-style-type: none;
}
.link {
  width: 32px;
  height: 32px;
}
.information {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  min-height: 400px;
}
.title {
  color: white;
  font-weight: 600;
  font-size: 58px;
  margin-bottom: 0;
  margin-top: 200px;
}
.subtitle {
  color: white;
  font-weight: 600;
  font-size: 30px;
  margin-left: 50px;
  max-width: 1000px;
}
.button {
  width: 285px;
  height: 80px;
  border-radius: 83px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(48,88,142,1) 30%, rgba(0,212,255,1) 100%);
  font-size: 28px;
  color: white;
  margin-left: 80px;
  cursor: pointer;
}

.projects {
  margin-left: 40px;
}

.project__cards {
  margin: 20px 0 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project__card {
  border: 1px solid white;
  width: 420px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px 0px 30px 0px;
  box-shadow: 0 0 10px white;
  margin-bottom: 50px;
}
.project__image {
  width: 350px;
  height: 220px;
}
.project__name {
  font-weight: 600;
  font-size: 30px;
  color: white;
}
.project__line {
  width: 300px;
  height: 4px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(48,88,142,1) 30%, rgba(0,212,255,1) 100%);
}
.project__description {
  font-weight: 600;
  font-size: 20px;
  color: white;
  width: 80%;
}
.project__bottom {
  width: 200px;
  height: 60px;
  border-radius: 83px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(48,88,142,1) 30%, rgba(0,212,255,1) 100%);
  color: white;
  cursor: pointer;
}
.technologies {
  margin-left: 40px;
}

.technologies__table {
  margin-left: 50px;
  max-width: 1320px;
}
.technology {
  display: flex;
  width: 1000px;
  height: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.technology__title {
  color: white;
  font-weight: 600;
  font-size: 28px;
  margin-left: 20px;
}
.technology__subtitle {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-right: 70px;
}
.technology__line {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;

}
.progress__line-bg {
  background-color: #162950;
  border-radius: 10px;
  height: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.progress__line {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(48,88,142,1) 30%, rgba(0,212,255,1) 100%);
  bottom: 0;
  color: #fff;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
}
.advanced {
  width: 75%;
}
.regular {
  width: 50%;
}
.beginner {
  width: 25%;
}
.skills__table {
  margin-top: 150px;
}
.skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  width: 400px;
  margin-bottom: 50px;
}
.aboutMe {
  margin-left: 50px;
  margin-bottom: 200px;
}

.biography__date {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-left: 170px;
}
.date {
  color: #fff;
  font-size: 24px;
  line-height: 50px;
}

.biography__inform {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px auto 0;
}

.inform {
  width: 350px;
  color: #fff;
  margin: 0 30px;
}
.footer {
  margin-bottom: 50px;
}
.footer__connection {
  display: flex;
  justify-content: space-evenly;
}
.footer__call {
  display: flex;
}
.contacts {
  color: #fff;
  font-size: 24px;
  margin: 0 50px;
}

.footer__link {
  display: flex;
  margin-right: 50px;
  list-style-type: none;
}

@media (max-width: 1024px) {
  body {
    width: 900px;
  }
  .title {
    margin-top: 100px;
}
  .projects {
    margin-left: 0;
  }
  .project__cards {
    margin: 10px auto 0;
  }
  .technologies {
    margin-left: 0;
}
  .technologies__table {
    margin-left: 0;
  }
  .technology {
    width: 900px;
  }
}

@media (max-width: 768px) {
  body{
    width: 700px;
  }
  .header {
    margin-top: 20px;
  }
  .header__burger-btn {
    display: block;
  }

  .title {
    margin-top: 50px;
    font-size: 36px;
  }
  .subtitle {
    font-size: 26px;
  }
  .logo {
    margin-left: 10px;
    height: 50px;
    margin-top: 5px;
}
  .logo__header {
    width: 40px;
    height: 40px;
  }
  .logo__name {
    font-size: 22px;
  }

  .menu__container {
    position: absolute;
    left: -450px;
    top: 0;
    background-color: black;
    padding: 75px 20px 20px;
    width: 350px;
    transition: transform .3s;
  }

  .header__menu {
    width: 200px;
  }

  .header__list {
  display: block;
  margin: 0;
  padding: 0;
  }

  .menu__list {
    padding: 10px 0;
    display: block;
  }

  .header.open .menu__container {
    transform: translateX(100%);
  }

  .header__navigation {
    font-size: 22px;
  }
  .header__link {
    margin-right: 20px;
    }
  }
  .button {
    width: 200px;
    height: 60px;
    border-radius: 83px;
    font-size: 26px;
  }
  .technology {
    display: flex;
    width: 700px;
    height: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .technology__title {
    font-size: 22px;
  }
  .technology__subtitle {
    font-size: 18px;
  }
  .skills__table {
    margin-top: 90px;
  }
  .skill {
    font-size: 20px;
    width: 200px;
  }
  .contacts {
    font-size: 20px;
    margin: 0 20px;
  }
  .footer__link {
    margin: 0 30px;
    padding: 0;
  }
  .footer__list {
    display: flex;
  }


@media (max-width: 425px) {
  body{
    width: 400px;
  }
  .header {
    margin-top: 20px;
  }
  .title {
    margin-top: 50px;
    font-size: 36px;
  }
  .subtitle {
    font-size: 26px;
  }
  .logo {
    margin-left: 10px;
    height: 50px;
    margin-top: 5px;
}
  .logo__header {
    width: 40px;
    height: 40px;
  }
  .logo__name {
    font-size: 22px;
  }
  .header__menu {
    width: 400px;
  }
  .header__list {
  margin-top: 5px;
  }
  .menu {
    width: 120px;
  }
  .header__navigation {
    font-size: 22px;
  }
  .header__link {
    margin-top: 5px;
  }
  .button {
    width: 200px;
    height: 60px;
    border-radius: 83px;
    font-size: 26px;
  }
  .technology {
    display: flex;
    width: 700px;
    height: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .technology__title {
    font-size: 22px;
  }
  .technology__subtitle {
    font-size: 18px;
  }
  .skills__table {
    margin-top: 90px;
  }
  .skill {
    font-size: 20px;
    width: 200px;
  }
  .contacts {
    font-size: 20px;
    margin: 0 20px;
  }
  .footer__link {
    margin: 0 30px;
    padding: 0;
  }
}